# Default ignored files
/../../../../알고리즘/과제/프로그래밍과제02/.idea/shelf/
/../../../../알고리즘/과제/프로그래밍과제02/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../알고리즘/과제/프로그래밍과제02/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../알고리즘/과제/프로그래밍과제02/.idea/dataSources/
/../../../../알고리즘/과제/프로그래밍과제02/.idea/dataSources.local.xml
